
.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.movies {
    list-style-type: none;
    padding: 0;
}

.loading {
    position: relative;
}

.loading::after {
    content: '';
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border: 3px solid #ccc;
    border-top-color: #555;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.characters-container {
    margin-top: 50px;
}